* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--cor-0);
  font-family: sans-serif;
  padding-left: 20px;
}

li {
  list-style-type: none;
}

.container {
  padding-right: 30px;
}

.header-bg {
  background-color: var(--cor-5);
  padding: 0px 20px;
  position: relative;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background: var(--cor-5);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: var(--cor-4);
  }

  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.apresentacao {
  padding-top: 100px;
}

.sobre {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  color: var(--cor-0);
}

.introducao {
  padding-top: 100px;
}

.introducao p:after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--cor-p2);
  margin-top: 50px;
}

.destaque {
  color: var(--cor-p1);
}

.titulo {
  padding: 5px;
  padding-bottom: 10px;
}

.redes {
  padding-top: 50px;
}

.services-bg {
  background-color: var(--cor-4);
  padding-bottom: 5rem;
  position: relative;
  margin-top: -400px;
}

.desc-services {
  text-align: center;
  padding-top: 5rem;
}

.desc-services h1 {
  color: #FFFFFF;
}

.desc-services p {
  color: var(--cor-0);
  padding-bottom: 5rem;
}

.experiencias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.container-ex {
  background-color: var(--cor-5);
  padding: 3rem;
  margin-left: 20px;
  padding-top: 30px;
  height: 10rem;
  border-radius: 4px;
  align-items: center;
  box-shadow: var(--cor-5) 0px 7px 29px 0px;

}

.container-ex img {
  padding-bottom: 10px;
}

.services-bg {
  box-shadow: inset 0 -120px var(--cor-0);
}

.projetos-bg {
  background-color: var(--cor-0);
  padding-top: 6rem;
  text-align: center;
}

.info-principal {
  padding-bottom: 50px;
}

.gallery {
  display: flex;
  width: 200vh;
  height: 200px;
  padding-bottom: 100px;
  padding-left: 20px;
}

.gallery img {
  aspect-ratio: 9/16;
  min-width: 0;
  flex: 1 1 10px;
  object-fit: cover;
  opacity: .5;
  transition: .5s;
  margin: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery img:hover {
  flex: 1 1 100px;
  opacity: 1;
}

.footer-bg {
  background-color: var(--cor-5);
  height: 400px;
}



.footer-bg {
  background-color: var(--cor-5);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--cor-0);
  margin-top: 16px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: #FFFFFF;
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 20px;
  text-align: center;
}